@model ToDoListWebApp.ViewModels.IndexViewModel

<input id="CurrentDirection" value="@string.Format("{0}",int.Parse(Model.DatePeriodInfo[1]) + 1)" hidden />
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="#" onclick="ChangeDate(event,@Model.DatePeriodInfo[1])"><i class="fa fa-sm fa-arrow-left"></i>&nbsp; Previous Week</a>
    <h1 class="h3 text-gray-800" style="margin:0 auto;">
        @Model.PersianDatePeriodInfo[0] - @Model.PersianDatePeriodInfo[1]
    </h1>
    <a href="#" onclick="ChangeDate(event,@Model.DatePeriodInfo[2])">Next Week &nbsp;<i class="fa fa-sm fa-arrow-right"></i></a>
</div>
<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-primary text-uppercase mb-1">
                            Saturday
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Saturday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Saturday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Saturday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-code fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-success text-uppercase mb-1">
                            Sunday
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Sunday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Sunday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Sunday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-praying-hands fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-dark text-uppercase mb-1">
                            Monday
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Monday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Monday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Monday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-heart fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-info text-uppercase mb-1">
                            TUESDAY
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Tuesday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Tuesday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Tuesday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-dangertext-uppercase mb-1">
                            WEDNESDAY
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Wednesday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Wednesday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Wednesday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-running fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-warning text-uppercase mb-1">
                            Thursday
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Thursday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Thursday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Thursday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-umbrella-beach fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm-left font-weight-bold text-secondary text-uppercase mb-1">
                            Friday
                        </div>
                        @foreach (var sch in Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Friday))
                        {
                            @if (Model.Progresses.Count(p => p.ScheduleId == sch.NidSchedule) > 0)
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title     -    @Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).Sum(q => q.ProgressTime) hour(s)</div>
                            }
                            else
                            {
                                <div class="h6 mb-0 text-gray-800">@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</div>
                            }
                        }
                        @if (Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Friday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Count() > 0)
                        {
                            <hr />
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Progress Time Sum : @Model.Progresses.Where(p => Model.Schedules.Where(p => p.ScheduleDate.DayOfWeek == DayOfWeek.Friday).Select(q => q.NidSchedule).Contains(p.ScheduleId)).Sum(q => q.ProgressTime) hour(s)</div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bed fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 text-gray-800" style="margin:0 auto;">Schedule & Progress</h1>
</div>
<div class="row" style="padding:25px;">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="#" onclick="AddItem(1)" class="btn btn-block btn-outline-info" style="width:200px;justify-content:right;margin-left:1rem;height:38px;overflow:hidden;margin: 0 auto;margin-bottom:10px;">add schedule</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead style="text-align:center;">
                    <tr>
                        <th>Task</th>
                        <th>Schedule Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sch in Model.Schedules.OrderBy(p => p.ScheduleDate))
                    {
                        <tr style="text-align:center;">
                            <td>@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</td>
                            <td>@sch.ScheduleDate.DayOfWeek</td>
                            <td>
                                <a href="#" onclick="DeleteModal(event,1,'@sch.NidSchedule','@sch.ScheduleDate.DayOfWeek','@Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title')" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="#" onclick="AddItem(2)" class="btn btn-block btn-outline-success" style="width:200px;justify-content:right;height:38px;overflow:hidden;margin: 0 auto;margin-bottom:10px;">add progress</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead style="text-align:center;">
                    <tr>
                        <th>Task</th>
                        <th>schedule</th>
                        <th>Progress Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sch in Model.Schedules.OrderBy(p => p.ScheduleDate))
                    {
                        @foreach (var prog in Model.Progresses.Where(p => p.ScheduleId == sch.NidSchedule).OrderBy(p => p.CreateDate))
                        {
                            <tr style="text-align:center;">
                                <td>@Model.AllTasks.FirstOrDefault(p => p.NidTask == Model.Schedules.FirstOrDefault(p => p.NidSchedule == prog.ScheduleId).TaskId).Title</td>
                                <td>@Model.Schedules.FirstOrDefault(p => p.NidSchedule == prog.ScheduleId).ScheduleDate.DayOfWeek</td>
                                <td>@prog.ProgressTime</td>
                                <td>
                                    <a href="#" onclick="DeleteModal(event,2,'@prog.NidProgress','@Model.Schedules.FirstOrDefault(p => p.NidSchedule == prog.ScheduleId).ScheduleDate.DayOfWeek','@Model.AllTasks.FirstOrDefault(p => p.NidTask == Model.Schedules.FirstOrDefault(p => p.NidSchedule == prog.ScheduleId).TaskId).Title')" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    <a href="#" onclick="EditProgress('@prog.NidProgress','@prog.ScheduleId','@prog.ProgressTime','@prog.CreateDate','@prog.Description','@prog.UserId')" class="btn btn-warning"><i class="fa fa-pen"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="indexModal" tabindex="-1" role="dialog" aria-labelledby="indexModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="indexModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="AddScheduleSection" hidden>
                    <form asp-action="SubmitAddSchedule" enctype="multipart/form-data">
                        <input name="Direction" value="@string.Format("{0}",int.Parse(Model.DatePeriodInfo[1]) + 1)" hidden />
                        <div class="form-group">
                            <select id="GoalId" class="form-control" onchange="SetTasks(this)" required>
                                <option disabled selected>select goal</option>
                                @foreach (var tsk in Model.Goals.Where(p => p.FromDate <= Model.EndDate && p.ToDate >= Model.EndDate).OrderBy(p => p.FromDate).ThenBy(q => q.Title))
                                {
                                    <option value="@tsk.NidGoal">@tsk.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="TaskId" name="TaskId" class="form-control" required>
                                <option disabled selected>select task</option>
                                @foreach (var tsk in Model.Tasks.OrderBy(p => p.GoalId).ThenBy(q => q.Title))
                                {
                                    <option value="@tsk.NidTask" title="@tsk.GoalId" hidden>@tsk.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="sltScheduleDate" name="ScheduleDate" class="form-control" required>
                                <option>select schedule day</option>
                                <option value="@Model.StartDate.Date">Saturday</option>
                                <option value="@Model.StartDate.AddDays(1).Date">Sunday</option>
                                <option value="@Model.StartDate.AddDays(2).Date">Monday</option>
                                <option value="@Model.StartDate.AddDays(3).Date">Tuesday</option>
                                <option value="@Model.StartDate.AddDays(4).Date">Wednesday</option>
                                <option value="@Model.StartDate.AddDays(5).Date">Thursday</option>
                                <option value="@Model.StartDate.AddDays(6).Date">Friday</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 text-center">
                                    <button type="submit" class="btn btn-primary" id="btnSubmitAddSchedule">create</button>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="AddProgressSection" hidden>
                    <form asp-action="SubmitAddProgress" enctype="multipart/form-data">
                        <input name="Direction" value="@string.Format("{0}",int.Parse(Model.DatePeriodInfo[1]) + 1)" hidden />
                        <div class="form-group">
                            <select id="sltScheduleDate2" onchange="SetSchedule(this)" class="form-control" required>
                                <option>select schedule day</option>
                                <option value="@Model.StartDate.Date">Saturday</option>
                                <option value="@Model.StartDate.AddDays(1).Date">Sunday</option>
                                <option value="@Model.StartDate.AddDays(2).Date">Monday</option>
                                <option value="@Model.StartDate.AddDays(3).Date">Tuesday</option>
                                <option value="@Model.StartDate.AddDays(4).Date">Wednesday</option>
                                <option value="@Model.StartDate.AddDays(5).Date">Thursday</option>
                                <option value="@Model.StartDate.AddDays(6).Date">Friday</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="ScheduleId" name="ScheduleId" class="form-control" required>
                                <option disabled selected>select schedule</option>
                                @foreach (var sch in Model.Schedules.OrderBy(p => p.ScheduleDate))
                                {
                                    <option value="@sch.NidSchedule" title="@sch.ScheduleDate" hidden>@Model.AllGoals.FirstOrDefault(p => p.NidGoal == Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).GoalId).Title - @Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="ProgressTime" name="ProgressTime" type="number" value="0" min="1" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <textarea id="Description" name="Description" placeholder="Description" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 text-center">
                                    <button type="submit" class="btn btn-primary" id="btnSubmitAddProgress">create</button>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="DeleteScheduleSection" hidden>
                    <div class="form-group">
                        <p id="txtDeleteSchedule"></p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4 text-center">
                                <a href="#" class="btn btn-danger" id="btnSubmitDeleteSchedule">delete</a>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>
                <div id="DeleteProgressSection" hidden>
                    <div class="form-group">
                        <p id="txtDeleteProgress"></p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4 text-center">
                                <a href="#" class="btn btn-danger" id="btnSubmitDeleteProgress">delete</a>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>
                <div id="EditProgressSection" hidden>
                    <form asp-action="SubmitEditProgress" enctype="multipart/form-data">
                        <input name="Direction" value="@string.Format("{0}",int.Parse(Model.DatePeriodInfo[1]) + 1)" hidden />
                        <input type="text" id="txtNidProgress" name="NidProgress" hidden />
                        <input type="datetime" id="txtCreateDate" name="CreateDate" hidden />
                        <input type="text" id="txtUserId" name="UserId" hidden />
                        <div class="form-group">
                            <select id="sltSchedule2" name="ScheduleId" class="form-control" required>
                                <option>select schedule</option>
                                @foreach (var sch in Model.Schedules.OrderBy(p => p.ScheduleDate))
                                {
                                    <option value="@sch.NidSchedule">@sch.ScheduleDate.DayOfWeek - @Model.AllTasks.FirstOrDefault(p => p.NidTask == sch.TaskId).Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="txtProgressTime" name="ProgressTime" type="number" value="0" min="1" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <textarea id="txtProgressDescription" name="Description" placeholder="Description" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 text-center">
                                    <button type="submit" class="btn btn-warning" id="btnSubmitAddProgress">edit</button>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/vendor/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/js/demo/datatables-demo.js")"></script>