@model ToDoListWebApp.ViewModels.GoalViewModel

@{
    ViewData["Title"] = "EditProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="p-9">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Edit Progress</h1>
                    </div>
                    <form class="user" style="padding:25px;" asp-action="SubmitEditProgress" enctype="multipart/form-data">
                        <input id="NidProgress" name="NidProgress" value="@Model.Progress.NidProgress" hidden />
                        <input id="UserId" name="UserId" value="@Model.Progress.UserId" hidden />
                        <div class="form-group">
                            <select class="form-control" id="GoalId" name="GoalId">
                                <option disabled>select goal</option>
                                @foreach (var Mgoal in Model.Goals.Where(q => q.GoalStatus == 0).OrderByDescending(p => p.CreateDate))
                                {
                                    if(Model.Progress.GoalId == Mgoal.NidGoal)
                                    {
                                        <option value="@Mgoal.NidGoal" selected>@Mgoal.Title</option>
                                    }else
                                    {
                                        <option value="@Mgoal.NidGoal">@Mgoal.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="TaskId" name="TaskId">
                                <option disabled>select task</option>
                                @foreach (var Mtsk in Model.Tasks.Where(q => q.TaskStatus == false).OrderByDescending(p => p.CreateDate))
                                {
                                    if(Model.Progress.GoalId == Mtsk.GoalId)
                                    {
                                        if (Model.Progress.TaskId == Mtsk.NidTask)
                                        {
                                            <option value="@Mtsk.NidTask" title="@Mtsk.GoalId" selected>@Mtsk.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@Mtsk.NidTask" title="@Mtsk.GoalId">@Mtsk.Title</option>
                                        }
                                    }else
                                    {
                                        <option value="@Mtsk.NidTask" title="@Mtsk.GoalId" hidden>@Mtsk.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="CreateDate" name="CreateDate" value="@string.Format("{0}-{1}-{2}",Model.Progress.CreateDate.Year,Model.Progress.CreateDate.Month.ToString().PadLeft(2,'0'),Model.Progress.CreateDate.Day.ToString().PadLeft(2,'0'))" type="date" class="form-control" placeholder="Create Date" />
                        </div>
                        <div class="form-group">
                            <input id="ProgressTime" name="ProgressTime" value="@Model.Progress.ProgressTime" type="number" class="form-control" placeholder="Progress Time" />
                        </div>
                        <div class="form-group">
                            <textarea id="Description" name="Description" placeholder="Description" class="form-control" rows="5">@Model.Progress.Description</textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 text-center">
                                    <input type="submit" class="btn btn-warning" value="edit" />
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            $("#GoalId").change(function () {
                var selectedGoalId = $("#GoalId").find(':selected').val();
                $("#TaskId > option").each(function () {
                    if ($(this).prop('disabled') == false) {
                        if (selectedGoalId == $(this).attr('title')) {
                            $(this).removeAttr('hidden');
                        } else {
                            $(this).attr('hidden', 'hidden');
                        }
                    } else {
                        $(this).prop('selected', 'selected');
                    }
                });
            });
        });
    </script>
}
