@model ToDoListWebApp.ViewModels.NotesViewModel
@{
    ViewData["Title"] = "NoteGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding:25px;">
    <div class="col-lg-6 d-flex">
        <a href="@Url.Action("AddNote","Home",new { NidGroup = Model.Group.NidGroup })" class="btn btn-block btn-outline-success" style="width:200px;justify-content:right;height:38px;overflow:hidden;">add new note</a>
    </div>
    <div class="col-lg-6">
        <div class="alert alert-success alert-dismissible fade show" style="width:fit-content;float:right;" role="alert" id="successDiv" hidden>
            <p id="successMessage"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" style="width:fit-content;float:right;" role="alert" id="errorDiv" hidden>
            <p id="errorMessage"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Group.Title</h6>
        <div class="dropdown no-arrow d-flex">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header"></div>
                <a class="dropdown-item" href="@Url.Action("EditNoteGroup","Home",new {NidGroup = Model.Group.NidGroup})">Edit Folder</a>
                <a class="dropdown-item" href="#" onclick="DeleteNoteGroup(event,'@Model.Group.NidGroup','@Model.Group.Title')">Delete Folder</a>
            </div>
        </div>
    </div>
@{
    int genRandomNumber()
    {
        Random r = new Random();
        return r.Next(26);
    }
}
@for (var i = 0; i <= Model.Notes.Count / 3; i++)
{
    <div class="row" style="padding:25px;">
        @foreach (var note in Model.Notes.OrderBy(p => p.ModifiedDate).Skip(i * 3).Take(3))
        {
            <div class="col-xl-4">
                <div class="card shadow mb-4 d-flex">
                    <a href="@Url.Action("Note","Home",new {NidNote = note.NidNote })" class="d-block card-header py-3" style="background-color:@Model.bgColor[genRandomNumber()];">
                        <h6 class="font-weight-bold text-primary" style="margin:0 auto;">@note.Title</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                                @Html.Raw(note.NoteContent)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
</div>
    <div class="modal fade" id="noteGroupModal" tabindex="-1" role="dialog" aria-labelledby="routineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="routineModalLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="DeleteNoteSection">
                        <div class="form-group">
                            <p id="txtDeleteNoteGroup"></p>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 text-center">
                                    <a href="#" class="btn btn-danger" id="btnSubmitDeleteNoteGroup">delete</a>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            if ('@TempData["NoteSuccess"]' != "") {
                $("#successDiv").removeAttr('hidden');
                $("#successMessage").text('@TempData["NoteSuccess"]');
                window.setTimeout(function () {
                    $("#successDiv").attr('hidden', 'hidden');
                }, 5000);
            }
            if ('@TempData["NoteError"]' != "") {
                $("#errorDiv").removeAttr('hidden');
                $("#errorMessage").text('@TempData["NoteError"]');
                window.setTimeout(function () {
                    $("#errorDiv").attr('hidden', 'hidden');
                }, 5000);
            }
        });
        function DeleteNote(e, nid, title) {
            e.preventDefault();
            $("#txtDeleteNote").text('are you sure to delete note ' + title + ' ?');
            $("#btnSubmitDeleteNote").attr('href', '@Url.Action("SubmitDeleteNote","Home")' + '?NidNote=' + nid);
            $("#noteModal").modal();
        }
            function DeleteNoteGroup(e, nid, title) {
                e.preventDefault();
                $("#txtDeleteNoteGroup").text('are you sure to delete group ' + title + ' ?');
                $("#btnSubmitDeleteNoteGroup").attr('href', '@Url.Action("SubmitDeleteNoteGroup","Home")' + '?NidGroup=' + nid);
                $("#noteGroupModal").modal();
            }
    </script>
}

